.newPostContainer{
    width: 40%;
}
.newPostPanelContainer{
    display: flex;
}
.postInputContainer{
    overflow: hidden;
    display: inline;
    width: 82%;
}
.postInput{
    width: 95%;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 20px;
    background-color: rgb(235, 235, 235);
}
.postInput:hover{
    border: 1px solid black;
}
.btnPostControle{
    width: 75px;
    height: 35px;
    margin: 5px;
    border: none;
    border-radius: 8%;

}