.row-post {
    
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
   
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: .25rem;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    margin-bottom: 38px;
    margin-top: 50px;
    
}
.avatar_comment {
    display: block;
}

.avatar_comment img {
    height: 48px;
    width: 48px;
}
img {
    vertical-align: middle;
    border-style: none;
}

.box_comment {
    display: block;
    position: relative;
    line-height: 1.358;
    word-break: break-word;
    border: 1px solid #d3d6db;
    word-wrap: break-word;
    background: #fff;
    box-sizing: border-box;
    cursor: text;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    padding: 0;
}

.box_comment textarea {
    min-height: 40px;
    padding: 12px 8px;
    width: 100%;
    border: none;
    resize: none;
}
.cancel-btn-addPost{float: right;
margin-right: 6px;
margin-top: 9px;
}
.box_comment .box_post {
    border-top: 1px solid #d3d6db;
    background: #f5f6f7;
    padding: 8px;
    display: block;
    overflow: hidden;
    height: 50px;
}
.box_post button {
margin-left: 8px;
background-color: #4267b2;
border: 1px solid #4267b2;
color: #fff;
text-decoration: none;
line-height: 22px;
border-radius: 2px;
font-size: 14px;
font-weight: bold;
position: relative;
text-align: center;
}
.pull-left {
    float: left;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
button, input {
    overflow: visible;
}

.box_comment label {
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
    color: #90949c;
    line-height: 22px;
}

.pull-right {
    float: right;
}

.box_comment button {
    margin-left: 8px;
    background-color: #4267b2;
    border: 1px solid #4267b2;
    color: #fff;
    text-decoration: none;
    line-height: 22px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    text-align: center;
}



// .newPostContainer{
//     width: 40%;
// }
// .newPostPanelContainer{
//     display: flex;
// }
// .postInputContainer{
//     overflow: hidden;
//     display: inline;
//     width: 82%;
// }
// .postInput{
//     width: 95%;
//     height: 30px;
//     border: 1px solid gray;
//     border-radius: 5px;
//     margin-top: 20px;
//     background-color: rgb(235, 235, 235);
// }
// .postInput:hover{
//     border: 1px solid black;
// }
// .btnPostControle{
//     width: 75px;
//     height: 35px;
//     margin: 5px;
//     border: none;
//     border-radius: 8%;

// }